:root {
    --primary-color: #6200ee;
    --secondary-color: #03dac6;
    --background-color:#202124;
    --text-color: #e8eaed;
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --spacing-small: 4px;
    --spacing-medium: 8px;
    --spacing-large: 16px;
  }

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Roboto", arial, sans-serif;
    font-size: 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
  }
  