.backgroundOptionsContainer {
    /* top: 111px;
      right: -26%; */
    top: 133%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 1;
    background-color:#202124;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.6), 0 2px 6px 2px rgba(0, 0, 0, 0.302);
    overflow: hidden;
    position: absolute;
    z-index: 4011;
  }
  .backgroundOptionsWrapper {
    border: 1px solid transparent;
  
    border-radius: 10px 10px 0 0;
  
    box-shadow: none;
  
    display: flex;
    opacity: 1;
    padding: 8px 9px 3px;
    position: relative;
    visibility: visible;
    white-space: nowrap;
    width: auto;
    box-sizing: border-box;
  }
  .option {
    margin: 2px;
    height: 28px;
    width: 28px;
    box-sizing: border-box;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
  }